<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201234155939-7nhuqid6prjbak0jqf04pav7lrg32gfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201234155939-7nhuqid6prjbak0jqf04pav7lrg32gfi</string>
	<key>API_KEY</key>
	<string>AIzaSyCtNBrGL2Z40QbEbhImW4so5RhC7hosBrg</string>
	<key>GCM_SENDER_ID</key>
	<string>201234155939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kodaNewRes</string>
	<key>PROJECT_ID</key>
	<string>koda-score-2</string>
	<key>STORAGE_BUCKET</key>
	<string>koda-score-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201234155939:ios:dd5fb098b35534cc3e3216</string>
</dict>
</plist>